<h1>Bookmark#new</h1>
<p>Find me in app/views/bookmark/new.html.erb</p>

<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.input :comment %>
  <%= f.association :movie %>
  <%= f.submit "Create bookmark", class: "btn btn-primary" %>
<% end %>
